main{
    background-color: #6ac1d5;
    border-top: 2px solid #f0e3d1;
    
}
.main_col1{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 7.5px;
    width: 100%;
    
}
.main{
    
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
    
}
.type{
    width:17.5%;

}
.liste{
   display: flex;
   flex-direction: column;
   background-color: rgb(255, 255, 255);
   border-radius: 4px;  
    width: 100%;
    font-family:system-ui;
    font-size: 12px;
    font-weight: 400;
}

.liste a{
    text-decoration: none;
    color: rgb(50, 50, 50);
    margin-left: 10px;
    margin-bottom: 11px;
}
div.main{
    display: flex;
    flex-direction: row;
}
.ic{
    position: relative;
    top: 3px;
    margin-right: 4px;
}
.pub{
    margin-left: 15px;
}

.ass{
    background-color: white;
    padding-top: 12px;
    padding-left: 17px;
    border-radius: 4px;
    padding-right: 55px;
    padding-right: 0;
    height: 44%;
    width: 88%;
}

#ass{
    display: flex;
    flex-direction: row;
   
}
a#ass {
  text-decoration: none;
  color: rgb(47, 47, 47);
  margin-bottom: 25px;
}


.pub2_ass{
    margin-left: 15px;
   flex: 20%;
}
#ass img{
    margin-right: 7px;
}
 .main_col2{
    background-color: white;
    border-radius: 4px;
    flex: 100%;
    overflow-x: scroll;
    margin-bottom: 15px;
 }
 .crs a{
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-family:system-ui;
    font-size: 14px;
    font-weight: 400;
 }
 .main_col2 section{
    display: flex;
    flex-direction: row;
 }

 .itm{
    margin-left: 8px;
    
 }

#itm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.main_col3{margin-bottom:150px ;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    flex: 100%;
    width: 100%;
    box-sizing: border-box;
    
}

article a{
    text-decoration: none;
    color: rgb(47, 47, 47);
    font-weight: 100%;
    flex-direction: column;
    line-height: 1;
    font-size: .875rem;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}


.testp:hover{
    color: rgb(246, 153, 40);
}

.abb:hover{
    color: rgb(246, 153, 40);
}
.ab:hover{
    font-weight: 500;
}

#itm:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
    
  .prodruit:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
 }

